<section class='splash'>
  <h1>Snapscan</h1>
  <div class='splash--buttons'>
    <%= link_to 'Log in', new_user_session_path, style: 'width: 80%; text-align: center; height: 50px; background-color: blue; color:white'%>
    <%= link_to 'Sign up', new_user_registration_path, class:'btn btn--ghost' %>
  </div>
</section>