<section class='splash'>
  <h1>moneyTrack </h1>
  <div class='splash--buttons'>
    <%= link_to 'Log in', new_user_session_path, style: 'width: 95%; margin-left: -20px; text-align: center; height: 50px; background-color: #3778c2; color:white'%>
    <%= link_to 'Sign up', new_user_registration_path, style: 'width: 95%; margin-left: -25px; text-align: center; height: 50px; color: black'%>

  </div>
</section>
