:root {
  --font-family-sans:
    "Lato",
    -apple-system,
    blinkmacsystemfont,
    "Segoe UI",
    roboto,
    oxygen,
    ubuntu,
    cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  --line-height-headers: 1.1;
  --line-height-body: 1.5;
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;
  --font-size-xxxxl: 3rem;
  --color-text-header: #434b54;
  --color-text-body: #434b54;
  --color-text-muted: #86898e;
  --color-background-white: #fff;
  --color-background-light: #f5f6f8;
  --space-xxxs: 0.25rem;
  --space-xxs: 0.375rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 2.5rem;
  --space-xxxl: 3rem;
  --space-xxxxl: 4rem;
  --color-primary: #3778c2;
  --color-secondary: #5fb523;
  --color-white: #fff;
  --color-background: #fff;
  --color-light: #989da3;
  --color-dark: #434c56;
  --border: solid 1px var(--color-light);
  --border-radius: 0.2rem;
  --shadow-large: 2px 4px 10px hsl(0 0% 0% / 0.1);
  --shadow-small: 1px 3px 6px hsl(0 0% 0% / 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: auto;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--color-background);
  color: var(--color-text-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
select {
  width: 100%;
  padding: var(--space-s) 0 var(--space-s) var(--space-xs);
  border: none;
}

option,
input::placeholder {
  color: var(--color-text-muted);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-header);
  line-height: var(--line-height-headers);
}

h1 {
  font-size: var(--font-size-xxxl);
}

h2 {
  font-size: var(--font-size-xxl);
}

h3 {
  font-size: var(--font-size-xl);
}

h4 {
  font-size: var(--font-size-l);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 200ms;
}
a:hover, a:focus, a:active {
  color: var(--color-primary-rotate);
}

@keyframes appear-then-fade {
  0%, 100% {
    opacity: 0;
  }
  5%, 60% {
    opacity: 1;
  }
}
.btn {
  display: inline-block;
  padding: var(--space-m) var(--space-m);
  border-radius: var(--border-radius);
  background-origin: border-box;
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: lighter;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;
}
.btn:hover, .btn:focus, .btn:focus-within, .btn:active {
  transition: filter 250ms, color 200ms;
}
.btn--primary {
  background-color: blue;
  color: var(--color-white);
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-rotate));
}
.btn--primary:hover, .btn--primary:focus, .btn--primary:focus-within, .btn--primary:active {
  color: var(--color-white);
  filter: saturate(1.4) brightness(115%);
}
.btn--secondary {
  color: var(--color-white);
  border: 1px solid var(--color-white);
  background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary-rotate));
}
.btn--secondary:hover, .btn--secondary:focus, .btn--secondary:focus-within, .btn--secondary:active {
  color: var(--color-white);
  filter: saturate(1.2) brightness(110%);
}
.btn--ghost {
  color: inherit;
  background-color: transparent;
}
.btn--ghost:hover, .btn--ghost:focus, .btn--ghost:focus-within, .btn--ghost:active {
  color: var(--color-dark);
  filter: brightness(92%);
}
.btn--light {
  color: var(--color-dark);
  background-color: var(--color-light);
}
.btn--light:hover, .btn--light:focus, .btn--light:focus-within, .btn--light:active {
  color: var(--color-dark);
  filter: brightness(92%);
}
.btn--dark {
  color: var(--color-white);
  border-color: var(--color-dark);
  background-color: var(--color-dark);
}
.btn--dark:hover, .btn--dark:focus, .btn--dark:focus-within, .btn--dark:active {
  color: var(--color-white);
}

.card {
  background: var(--color-white);
  margin: var(--space-s);
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  height: 100%;
  color: var(--color-text-body);
}
.card > * {
  margin: var(--space-s);
}
.card--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-xs);
  background: var(--color-background-light);
}
.card--icon i {
  font-size: var(--font-size-xxxl);
}
.card--description {
  padding-top: var(--space-xs);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-text-muted);
  font-size: var(--font-size-m);
}
.card--description p:last-child {
  margin-top: var(--space-m);
  font-size: var(--font-size-xs);
}

.error-message {
  width: 100%;
  color: hsl(350, 67%, 50%);
  background-color: hsl(0, 85%, 96%);
  padding: var(--space-xs);
  border-radius: var(--border-radius);
}

.splash {
  height: 100vh;
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding: 2rem;
}
.splash * {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.splash h1 {
  font-family: cursive;
  font-size: var(--font-size-xxxxl);
  font-weight: bold;
  text-align: center;
}

.devise {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr;
}
.devise header {
  color: var(--color-white);
  background: var(--color-primary);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0.5rem;
}
.devise header a {
  text-decoration: none;
  color: inherit;
}
.devise header .icon {
  font-size: var(--font-size-xxl);
}
.devise header h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--color-white);
  font-size: var(--font-size-xl);
}
.devise header .btn--ghost {
  text-transform: none;
  padding: 0;
  font-weight: lighter;
  text-align: end;
}
.devise main {
  padding-top: var(--space-s);
  background: var(--color-background-light);
}
.devise main .links {
  padding-top: var(--space-l);
  text-align: center;
}
.devise main .links a {
  color: var(--color-text-muted);
}

.categories header {
  height: 5rem;
  position: fixed;
  top: 0;
  width: 100%;
  color: var(--color-white);
  background: var(--color-primary);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  padding: 0.5rem;
}
.categories header a {
  text-decoration: none;
  color: inherit;
}
.categories header .icon {
  font-size: var(--font-size-xxl);
}
.categories header h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--color-white);
  font-size: var(--font-size-xl);
}
.categories header .btn--ghost {
  text-transform: none;
  padding: 0;
  font-weight: lighter;
  text-align: end;
}
.categories main {
  min-height: 100vh;
  padding-top: 6rem;
  padding-bottom: 7rem;
  background: var(--color-background-light);
}
.categories--no-expenses {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories--details {
  padding: var(--space-s);
  background: var(--color-background-white);
}
.categories--details--header .logo {
  font-size: var(--font-size-xxxl);
}
.categories--details--header .text {
  color: var(--color-text-muted);
  font-size: var(--font-size-xs);
}
.categories--footer {
  background: var(--color-secondary);
  padding: var(--space-m);
  height: 5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.menu {
  background: #1f578a;
  color: var(--color-white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.menu > * {
  margin-bottom: var(--space-xxxl);
}
.menu--close {
  font-size: var(--font-size-xxl);
  text-align: end;
}
.menu--close a {
  color: var(--color-white);
}
.menu header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu header .avatar {
  font-size: var(--font-size-xxxxl);
  background: lightgray;
  padding: var(--space-m);
  border-radius: 50%;
}
.menu header > * {
  margin-bottom: var(--space-m);
}
.menu main > * {
  margin-bottom: var(--space-m);
}
.menu main a {
  color: var(--color-white);
}

.border-top {
  border-top: solid 1px var(--color-light);
}

.border-bottom {
  border-bottom: solid 1px var(--color-light);
}

.text-end {
  text-align: end;
}

.text-muted {
  color: var(--color-text-muted);
}

.mt-1 {
  margin-top: var(--space-xs);
}

.mt-2 {
  margin-top: var(--space-s);
}

.mt-3 {
  margin-top: var(--space-m);
}

.mt-4 {
  margin-top: var(--space-l);
}

.mt-5 {
  margin-top: var(--space-xl);
}

.mx-1 {
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
}

.mx-2 {
  margin-left: var(--space-s);
  margin-right: var(--space-s);
}

.mx-3 {
  margin-left: var(--space-m);
  margin-right: var(--space-m);
}

.mx-4 {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

.mx-5 {
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
}

.py-1 {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
}

.py-2 {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}

.py-3 {
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}

.py-4 {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.py-5 {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

.px-1 {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
}

.px-2 {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}

.px-3 {
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}

.px-4 {
  padding-left: var(--space-l);
  padding-right: var(--space-l);
}

.px-5 {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}
